.ec-cat-list table tbody tr td {
    vertical-align: middle;
}
.badge{
    font-size: 10px;
}
.ec-cat-list.card.card-default .card-body{
    box-shadow: #315a8333 0px 8px 24px;
    border-radius: 10px;
}
.card.card-mini.dash-card .card-body{
    border-radius: 10px;
 
    box-shadow: #315a8333 0px 8px 24px;
}
.dash-card .card-body span{
    background: #1a283e;
}
#header nav.navbar.navbar-static-top.navbar-expand-lg {
    background: #1a283e !important;
}
.ec-sidebar-light .ec-left-sidebar{
    background: #1a283e !important;
}
.sidenav-item-link .nav-text{
    color: #a6aab4 !important;
}
.ec-sidebar-light .sidebar .sub-menu {
    background-color: #213048;
}
.btn.btn-primary{
    background-color: #11235A;
    border-color:#11235A;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.ec-cat-list.card.card-default.mb-24px .card-body {
    border: 2px groove black;
}
.ec-cat-list.card.card-default.mb-24px .card-body .ec-cat-form input {
    border: 1px solid #ddd !important;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    border-radius: 4px;
}
.ec-cat-list.card.card-default.mb-24px .card-body .ec-cat-form textarea {
    border: 1px solid #ddd !important;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    border-radius: 4px;
}
.ec-brand a img {
    max-width: 120px !important;
}
.action_btn{
    display: flex;
    align-items: center;
    gap: 20px;
}
.action_btn i{
    color: #1A283E;
    cursor: pointer;
}
.ec-user-card.card.card-default.p-4 {
    position: relative;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.ec-user-card.card.card-default.p-4:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #1a283e;
    content: "";
}
.sidebar .sidebar-inner > li > a:hover{
    background-color: #304669;
}
.ec-cat-form form label{
    color: #000;
    font-weight: 600;
    padding-bottom: 5px;
}
.ec-cat-form h4{
    color: #000;
    font-weight: 700;
}
.row.justify-content-between.bottom-information {
    margin-right: 0 !important;
    --bs-gutter-x: 0rem !important;
    gutter-x: 0rem !important;
  }

  div#responsive-data-table_paginate {
    display: flex;
    align-items: center;
    gap: 10px;
}
div#responsive-data-table_paginate a{
    padding: 5px 10px;
    background: #1a283e;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
div#responsive-data-table_length select {
    padding: 5px 10px;
}
div#responsive-data-table_filter input {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #ddd;
}
#responsive-data-table_filter{
    text-align: right;
}


.success{
    color:green;
}

.danger{
    color:red;
}
.bgb{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.dataTables_empty{
    text-align: center;
}
.bgb-n input{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !important;
    border-radius: 4px !important;
  }

  .bgb-n select{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !important;
    border-radius: 4px !important;

  }
  .bgb-n textarea{
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !important;
    border-radius: 4px !important;

    }
    .bgb-n label{
        color: #000;
    }
    /* .ec-header-search{
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 40px;
    } */
    .header-search {
        position: relative;
        margin: auto;
    }
    .ec-header-search form.ec-search-group-form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border: 1px solid #eeeeee;
        border-radius: 23px;
    }
    .align-self-center.ec-header-search {
        width: 500px;
    }
    .ec-search-cat-title {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 120px;
        gap: 5px;
        height: 42px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        font-size: 14px;
        background: #11235A;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #ffffff;
        cursor: pointer;
        border-top-left-radius: 23px;
        border-bottom-left-radius: 23px;
        padding-left: 10px;
    }
    .ec-search-cat-block {
        width: 220px;
        background: #ffffff none repeat scroll 0 0;
        border: 1px solid #eeeeee;
        border-top: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0px;
        position: absolute;
        z-index: 91;
        left: 0;
        right: 0;
        top: 100%;
        display: none;
        border-radius: 10px;
        overflow: hidden;
    }
    .ec-search-cat-block li:not(:last-child) {
        border-bottom: 1px solid #eeeeee;
    }
    .ec-search-cat-block li a {
        display: block;
        width: 100%;
        padding: 7px 15px;
        position: relative;
        font-weight: 600;
        color: #202020;
    }
    .header-search .form-control {
        width: 100%;
        min-height: 42px;
        height: 42px;
        padding: 5px 20px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        color: #444444;
        border-radius: 0;
        background-color: transparent;
        border: none;
        letter-spacing: 0;
    }
    .search_submit {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 57px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        height: 100%;
        background:#11235A;
        color: #ffffff;
        font-size: 17px;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 0;
        height: 42px;
        margin: 0 auto;
        padding: 0 20px 2px;
        border-top-right-radius: 23px;
        border-bottom-right-radius: 23px;
    }
    [type=submit]:not(:disabled) {
        cursor: pointer;
    }
    .search_submit i {
        font-weight: 700;
    }
    .ec-search-group-form{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        margin: auto;
    }
    .ec-search-select-inner{
        position: relative;
    }
    .ec-search-select-inner:hover .ec-search-cat-block{
        display: block;
        box-shadow: 2px 7px 14px #ddd;
    }
    .ec-search-cat-block li:hover{
        background-color: #eee;
    }